* {
    margin: 0px !important;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

:root {
    --backgroundColorDark: #9e825d;
    --lightText: #e8e3dd;
    font-family: 'Roboto', sans-serif;
    --primary: #4b3c28;
    --textColor: #2f2a23;
    --offerColor: #715e45;
    --bright:#b98035;
}
a {
    text-decoration: none;
}
.center-author p{
    color:var(--bright);
    font-size:30px;
    font-weight:600;
}
.content-box img {
    height: 500px !important;

}
#author-head{
    margin-top:100px!important;
}
ul {
    list-style-type: none;
}
.navigation{
    background-color: var(--backgroundColorDark);

 
}
.navbar .navbar-nav .nav-link {
   
    color: var(--lightText);
   
}
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

#slideTextHeader{
    background-color:var(--lightText);
    height:40px;
}
#slideTextHeader p{
    color:var(--primary);
   
    
}
#preloader {
    position: fixed;
    z-index: 100;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: 500ms all;
    align-items: center;
}

    #preloader img {
        width: 300px;
        margin: 0px auto;
    }
.swiper {
    width: 100%;
    height: 90vh;
}

.slide-center {
    text-align: center;
   
    font-weight:600;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: inherit;
    padding: 20% 20%;
    justify-content: center;
    align-items: center;
}
    .slide-center h1 {
        text-align: center;
        font-weight: 600;
        color: var(--lightText);
        text-transform: uppercase;
        font-size: 55px;
        text-shadow: rgba(0, 0, 0, 1) 1px 1px;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
#slide1 {
    background-image: url(../img/slide1.png);
}
#slide2 {
    background-image: url(../img/slide2.png);
    
}
.swiper-slide {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.swiper-arrow {
    text-shadow: rgba(0, 0, 0, 1) 1px 1px;
    color: var(--lightText) !important;
}
.offers p{
    color:var(--textColor); 

}
.offers h2, .offers h3 {
    color: var(--offerColor);
}

.card {
    outline: none !important;
    border: none !important;
    background-color: transparent;
    border-radius: 70% 70% 10% 10% !important;
    width:80%;
    margin:auto!important;
}

    .card img {
        border-radius:70% !important;
    }

.cardhover {
    transform: scale(1.02);
    transition: 500ms all;
    box-shadow: 0px 0px 10px #d6d6d6;
}
.explore {
    background-color: var(--backgroundColorDark)!important;
    
    border:none!important;
}



.fa, .text-prim {
    color: var(--backgroundColorDark) !important;
}

h4, mb-4, .why h1 {
    color: var(--textColor);
}


/*** Service ***/
.service-item {
    position: relative;
    text-align: center;
}

    .service-item .service-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
    }

        .service-item .service-img img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            object-fit: cover;
            transform: scale(1.2);
            transition: .3s;
            z-index: -1;
        }

    .service-item:hover .service-img img {
        transform: scale(1);
    }

    .service-item .service-text {
        background: #FFFFFF;
        box-shadow: 0 0 45px #715c3f68;
        transition: .3s;
    }

    .service-item:hover .service-text {
        background:#55453099;
    }

    .service-item .service-text h4,
    .service-item .service-text p {
        transition: 0.3s;
    }

    .service-item:hover .service-text h4 {
        color: #FFFFFF;
    }

    .service-item:hover .service-text p {
        color: var(--lightText);
    }

    .service-item .service-text .btn-square {
        width: 100px;
        height: 100px;
        background: transparent;
        transition: .5s;
    }

    .service-item:hover .service-text .btn-square {
        background: var(--light);
    }

    .service-item .service-text .btn {
        width: 31px;
        height: 31px;
        display: inline-flex;
        align-items: center;
        color: var(--dark);
        background: var(--light);
        white-space: nowrap;
        overflow: hidden;
        transition: .3s;
    }

    .service-item:hover .service-text .btn {
        width: 112px;
    }
    /*** Service ***/
.service-item {
 position: relative;
 text-align: center;
}
.service-item .service-img {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 overflow: hidden;
 z-index: -1;
}
.service-item .service-img img {
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
 object-fit: cover;
 transform: scale(1.2);
 transition: .3s;
 z-index: -1;
}
.service-item:hover .service-img img {
 transform: scale(1);
}
.service-item .service-text {
 background: #FFFFFF;
 box-shadow: 0 0 60px rgba(0, 0, 0, .2);
 transition: .3s;
}
.service-item:hover .service-text {
 background: #9e825d99;
}
.service-item .service-text h4,
.service-item .service-text p {
 transition: 0.3s;
}
    .service-item:hover .service-text h4 {
        color: var(--lightText);
    }
.service-item:hover .service-text p {
 color: var(--lightText);
}
.service-item .service-text .btn-square {
 width: 100px;
 height: 100px;
 background: transparent;
 transition: .5s;

}
.service-item:hover .service-text .btn-square {
 background: var(--lightText);
}
.service-item .service-text .btn {
 width: 31px;
 height: 31px;
 display: inline-flex;
 align-items: center;
 color: var(--dark);
 background: var(--light);
 white-space: nowrap;
 overflow: hidden;
 transition: .3s;
}
.service-item:hover .service-text .btn {
 width: 112px;
}
.services{
    color:var(--offerColor)!important;
}
.servicecol{
    margin-bottom:15px !important;
}
.service-price {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 700;
    color:var(--lightText);
    
}

.service-item:hover .service-price {
    opacity: 1;
    transform: translateY(0);
   
}
.fw-light {
    color:var(--bright) ;
}

.gallery-img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #2f2a23;
    transition: all 0.5s ease;
    cursor: pointer;
}

    .gallery-img.active {
        width: 25%;
    }
.gallery-container {
    height: 450px;
}

.gallery-img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #2f2a23;
    transition: all 0.5s ease;
}

    .gallery-img.active {
        width: 25%;
    }
#book-img {
    background-image: url(../img/altair-pic.jpg);
}


   #form, #altair-form{
      
       height:50vh;
   }
.formrow {
    height: 100%;
    border-radius: 25%;
}
#altair-form {
    height: 100%;
    background-image: url(../img/altair-pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10% 0 0 10%;
}
.appointment-form {
    background-color: var(--lightText);
    border-radius: 0 10% 10% 0;
  
}
.to-book {
    background:var(--lightText);
    margin-right:10%;
   margin-bottom:3% !important;
    width:90%;
    height:90%; 

}
#apt-service{
    display:inline-block;
    margin-bottom:2px !important;
}
.appointment-form input{
    border:none;
    color:#55453099;
    border-radius:2%;
    display:block;
   
}
.book-title h2{
    color:var(--offerColor);
}
#apt-form {
    width: 80%;
    margin: auto !important;
   
}
#apt-service{
    width:80%;
  
  
}
    #apt-service option {
        background-color: var(--lightText);
        color: var(--textColor);
    }
#apt-message {
    height: 10vh;
    width:95%;
}
#apt-message, #apt-service, #apt-date, #apt-phone, #apt-time, #apt-name,#apt-lastname,#apt-email{
    background-color:var(--lightText);
    border: 1px solid var(--textColor);
    margin-bottom:2px;
}
    #book-submit:hover{
        background-color:var(--textColor)!important;
    }
    footer{
        background-color:var(--backgroundColorDark);
    }
footer a {
    color: var(--lightText);
    text-decoration:none;
}

#footerSocials li {
    display: inline;
    text-decoration: none;
    list-style: none;
}
.error-message {
    color: #c60d0d;
}
#homelink a{
    font-size:30px;                                  
}
#footerLogo {
    width: 60%;
    margin: auto !important;
    display: block;
}
.footertxt {
    color: var(--lightText);
}


input, select {
    width: 70%;
    padding: 10px 10px;
}

.fa-brands{
    margin:auto;
    margin-top:5px;
}

label {
    font-size: 20px;
 
}

.required::after {
    content: "*";
    color: #c41204;
}

#submit {
    width: 20%;
    padding: 7px 0px;
 
    margin-left: 40%;
}
/*****************/
/*RESPONSIVE CSS*/
@media screen and (max-width:993px) {
    .swiper {
        width: 100%;
        height: 50vh;
    }
    #form {
        height: 70vh;
        margin-bottom: 20px;
    }
    .slide-center h1 {
        text-align: center;
        font-weight: 400;
        font-size: 40px;
    }

    #altair-form {
        display: none;
    }
 
    .appointment-form {
        background-color: var(--lightText);
        border-radius: 10% 10% 10% 10%;
        width: 80%;
        margin-bottom:10vh;
      
    }
   
}

@media screen and (max-width:769px) {

    .swiper {
        width: 100%;
        height: 50vh;
    }

    .slide-center h1 {
        text-align: center;
        font-weight: 400;
        font-size: 40px;
    }
    #altair-form{
        display:none;
    }
   
}

@media screen and (max-width:576px) {
    .slide-center h1 {
        text-align: center;
        font-weight: 300;
        font-size: 30px;
    }
}

@media screen and (max-width:426px) {
    .slide-center h1 {
        padding: 15% 20% 0% 20%;
    }
}
